@charset "UTF-8";


/* Use this block for designing your site. */
/* Uncomment it out to use design mode */

*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid gray;
	margin: .2%;
	padding: .2%;
}
