@charset "UTF-8";


/* Use this block for designing your site. */
/* Uncomment it out to use design mode */

*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid gray;
	margin: .2%;
	padding: .2%;
}

body {
	font-family:
}

/* GLOBAL */
.container {
	width:88%;
	margin:auto;
	overflow:hidden;
}

/* HEADER*/
header {
	background:#35424a;
	color:#ffffff;
	padding-top:38px;
	min-height:70px;
	border-bottom:#e8491d 3px solid;
}




/* FOOTER */
.copyright {
	width:88%;
	height: 100%;
	margin:auto;
	margin-bottom: 0px;
}
